{% extends 'layout.html' %}

{%block body%}

{%from 'bootstrap5/form.html' import render_form %}

<div class="album py-5 bg-body-tertiary" style="background: linear-gradient(500deg, #ffffff, #DCEEFF);">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <div class="col">
        <a class="exclude" href="https://certificates.cs50.io/016cc835-70bd-4e49-9166-f2346f8f0d85.pdf?size=letter"><div class="card shadow-sm">
            <img src="static/CS50x.png" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            <div class="card-body">
              <p class="card-text">CS50x is Harvard's introduction to computer science and programming, suitable for both majors and non-majors with or without prior experience. Taught by David J. Malan, the course covers algorithmic thinking, problem-solving, data structures, security, and web development using languages like C, Python, SQL, JavaScript, HTML, and CSS. It includes real-world problem sets in fields like biology, cryptography, finance, and gaming. Students who complete 9 problem sets and a final project can earn a certificate. The course is self-paced.</p>
            </div>
          </div></a>
        </div>
        <div class="col">
            <a class="exclude" href="https://certificates.cs50.io/016cc835-70bd-4e49-9166-f2346f8f0d85.pdf?size=letter"><div class="card shadow-sm">
              <img src="static/CS50p.png" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
              <div class="card-body">
                <p class="card-text">Topics include database design, scalability, security, and user experience. projects to learn API usage, interactive UI creation, and cloud services like GitHub and Heroku. knowledge and experience to design and deploy web applications.</p>
              </div>
            </div></a>
          </div>
          {% if certificates %}
          {%for certificate in certificates %}
          <div class="col">
            <a class="exclude" href="{{certificate.link}}"><div class="card shadow-sm">
              <img src="{{certificate.pic}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
              <div class="card-body">
                <p class="card-text">{{certificate.name}}{{certificate.describe}}</p>
              </div>
            </div></a>
          </div>
          {% endfor %}
          {% endif %}
          {%if current_user.is_authenticated %}
          <div class="col">
          {{render_form(form)}}
        </div>
        {%endif%}
      </div>
    </div>
  </div>

{%endblock%}