@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    background: linear-gradient(500deg, #ffffff, #DCEEFF);
    min-height: 100vh;
}
.main{
    padding: 20px;
    margin:auto;
    width: 70%;
}

#name{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    color: #2D336B;
    font-size: 50px;
}

.sign{
    text-align: right;
}

.menu{
    margin-top: 30px;
    width: 85%;
    text-align: right;
}

a{
    font-weight: bolder;
    border-radius: 10px;
    margin:5px;
    text-decoration: none;
    color: #4A4A4A;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
}

a:hover{
    color:#3342cb;
}

a:active{
    box-shadow: 5px 5px 55px 5px rgba(0, 0, 255, 0.2);
}

.about{
    text-align: center;
    margin-top: 10%;
    padding: 40px;
    border-radius: 20px;
}

#title{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:400;
}

#about-text{
    margin-left: 40px;
    padding: 5px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}



.links{
    color:blue;
    font-size: 30px;
}

.links:hover{
    color: rgb(1, 153, 255);;
}

#img1{
    margin: 10px;
    border-radius: 60%;
}

.message{
    margin: 50px;
    display: flex;
}


.form{
    padding:10px;
    border-radius: 20px;
    box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.heading{
    padding-top: 40px;
    display: flex;
}

.lead{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin-top: 30px;
}
.rounded-lg-3{
    border-radius: 20px;
}

.register{
    margin: auto;
    text-align: center;
    width: 30%;
}

